$colorSuccess:#59ED6B;
$colorInfo:#6DB3ED;
$colorAdvert:#FA680E;
$colorDanger:#FB2C2C;


.alert{
	width:100%;
	padding:5px;
	margin:50px 0 50px 0px;
	border: 3px dotted;
	
	background-repeat: no-repeat;
	background-position:4% 40%;
	background-size:30px 35px;

	border-radius:10px;

	color:black;
	@media (min-width:45em){
		background-size:55px 60px;
	}

	& > h4{
		display:block;
		color:black;
		text-align: center;
	}

	& p:last-of-type{
		display:block;
		text-align: center;
	}
}

.alertSuccess{
	background-color: $colorSuccess;
	background-image: url("../img/success.png");
}

.alertInfo{
	background-color: $colorInfo;
	background-image: url("../img/info.png");
}

.alertAdvert{
	background-color:$colorAdvert;
	background-image: url("../img/avertissement.png");}

.alertDanger{
	background-color:$colorDanger; 
	background-image: url("../img/danger.png");		
}