.btn{
	@include inline-block;
	
	font-size:$fontSizeDt; 
	padding:0px 16px; margin:0.3rem;

	text-align: center;

	background-color:$BackcolorDt;
	color:$colorDt;

	border: 2px outset;
	
	@media (min-width:35em){
		font-size: $fontSizeDt+0.5;
	}
	&:hover {
		cursor: pointer;
		background-color: $BackcolorHover;
	}
	&:active{
		box-shadow:none;
		border:2px inset;
	}
}

.btn-lg{
	width:$widthlg; height:$heightlg;
	font-size: $fontSizelg;
	@include border-radius(10px);
	font-weight:$fontWeightlg;
	@media (min-width:35em){
		width:$widthlg+40;
		height:$heightlg+20;
		font-size: $fontSizelg+0.2;
	}
	@media (min-width:45em){
		width:$widthlg+80;
		height:$heightlg+60;
		font-size: $fontSizelg+0.4;
	}
}

.btn-dt{
	width:$widthdt; height:$heightdt;
	@include border-radius(8px);
	@media (min-width:35em){
		width:$widthdt+40;
		height:$heightdt+20;
		font-size: $fontSizeDt+0.5;
	}
	@media (min-width:45em){
		width:$widthdt+60;
		height:$heightdt+40;
		font-size: $fontSizeDt+0.6;
	}
}

.btn-sm{
	width:$widthsm; height:$heightsm;
	font-size: $fontSizesm;
	@include border-radius(5px);
	font-weight: $fontWeightsm;
	@media (min-width:35em){
		width:$widthsm+20;
		height:$heightsm+10;
		font-size: $fontSizesm+0.2;
	}
	@media (min-width:35em){
		width:$widthsm+40;
		height:$heightsm+20;
		font-size: $fontSizesm+0.3;
	}
}


.btn-red{
	background-color:$redBackcolor;
	color:$redColor;
}
.btn-green{
	color:$greenColor;
	background-color: $greenBackColor;
}
.btn-blue{
	color:$blueColor;
	background-color: $blueBackColor;
}

.btn-flat{
	width:$widthdt; height:$heightdt;
	@include box-shadow(none);
	border:none; color:$colorDt;
	background-color: $BackcolorDt;
	@include border-radius(0px);
	@media (min-width:35em){
		width:$widthdt+40;
		height:$heightdt+20;
	}
	@media (min-width:45em){
		width:$widthdt+60;
		height:$heightdt+40;
	}
	&:hover {
		cursor:auto;
		background-color: $BackcolorDt;
	}
	&:active{
		@include box-shadow(none);
		border:none;
	}
}

.btn-xlarge{
	width:100%;
	padding:0;
	margin:1rem 0; 
}

.btn-fancy{
    width:$widthdt;
    height:$heightdt;

    border-radius:5px;
    border:solid 1px #D94E3B;

    background-color:$fancybackcolor;
    color:#FFF;

    text-align:center;
    text-decoration:none;
   
   	@include transition(all 0.12s);  
  	@include box-shadow(0px 6px 0px #84261a);

    @media (min-width:35em){
		width:$widthdt+40;
		height:$heightdt+20;
		font-size: $fontSizeDt+0.5;
	}
	@media (min-width:45em){
		width:$widthdt+60;
		height:$heightdt+40;
		font-size: $fontSizeDt+0.5;
	}
	&:active{
		@include box-shadow(0px 2px 0px #84261a);
	    top:7px; 
	}
	&:hover{
		background-color:$fancybackcolor;
		border:none;
	}
}