body{
	z-index:100;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	width:$widthBody;
	color:$colorBody;
}

.containerPage{
	width:$widthBody;
	background-image: url("../img/fond2.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}



.containerAnn{
	width: 100%;	
	& > a{
		@include border-radius(3px);
		padding: 0.5rem;
		display:block;
		text-decoration: none;
		color:white;
		
		& > h3{
			overflow: scroll;
		}
		&:hover{
			background: #6A6A6A;
		}
	

		& .blocImage{
			max-width: 80%;
			margin-left:10%;
			img{

				width:100%;
				float:left;
			}
		}
		& > span{
			white-space: nowrap;
			font-size:$fontP;

			& > img{
				width: 15%;
				height:15%;
			}
		}
	}
}

.pagePrincip{
	padding:1rem 0;
	min-height: 35rem;
	vertical-align:top;
	@include border-radius(10px);
}

.blockSearch{
	padding:1rem 2rem;
}

.blocImage{
	max-width: 100%;
	& > img{
		width:100%;
		height:auto;
	}
}

.blocCarac{
	height:25rem;
	overflow-y:scroll;
	overflow-x:hidden;
	& p{
		border-left: solid 4px #FF4A4A ;
		padding: 0 1rem;
	}
}

.blocContact{
	& > h3{
		text-align: left;
	}
}




