.flex{
	@include display-flex;
}
 
.flexLineCenter{
	@include flex-direction(row);
	@include justify-content(center);
	@include align-items(center);
}



.flexColumnCenter{
	@include flex-direction(column);
	@include justify-content(center);
}



.reverseLine{
	@include flex-direction(reverse-row);
}

.reverseColumn{
	@include flex-direction(reverse-column);
}

.flexContent{
	@include flex-basis(5em);
	@include flex-grow(1);
    margin:0 1em;
}
