@mixin grille-colonne($cols,$numCols){
		@include box-sizing(border-box);
		float:left;
		@if $cols==1{
			width: $cols * ((100% - ($numCols*2))/$numCols);
		}	
		@else{
			width: ($cols * ((100% - ($numCols*2))/$numCols) + 2*($cols - 1));
		}
		margin: 0 1%;
}

@mixin grille-offset($cols, $numCols){
	 margin-left: $cols * ((100% - ($numCols*2))/$numCols) + $cols*2;
}


/* small */
@for $cols from 1 to $nbCols+1{
	.small-f-#{$cols}{
		@include  grille-colonne($cols,$nbCols);
	}
}
@for $cols from 1 to $nbCols{
	.offset-sm-f-#{$cols}{
		@include grille-offset($cols,$nbCols);
	}
}



/* medium */
@for $cols from 1 to $nbCols+1{
	.medium-f-#{$cols}{
		@media screen and (min-width:35em){
			@include  grille-colonne($cols,$nbCols);
		}
	}
}
@for $cols from 1 to $nbCols{
	.offset-md-f-#{$cols}{
		@media screen and (min-width:35em){
			@include grille-offset($cols,$nbCols);
		}
	}
}


/* large */
@for $cols from 1 to $nbCols+1{
	.large-f-#{$cols}{
		@media screen and (min-width:55em){
			@include  grille-colonne($cols,$nbCols);
		}
	}
}


@for $cols from 1 to $nbCols{
	.offset-lg-f-#{$cols}{
		@media screen and (min-width:55em){
			@include grille-offset($cols,$nbCols);
		}
	}
}
