.titreDesign{

	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 2.5rem;
	text-align: left;
	margin-left: 0.5rem;

	@media screen and (min-width:55em){
		font-size: 5rem;
		font-weight: 500;
		line-height: 5.1rem;
	}
	

}

.header{
	// position: fixed;
	width:$widthHeader;
	// background-color: $backColorHeader;
	vertical-align:top;
	
	@media screen and (min-width:55em){
		display:flex;
		@include flex-direction(row);
	}
	& > h1{
		margin-left:0;
		display:none;
		@media screen and (min-width:55em){
			display:block;
			text-align: left;
		}
	}
	@media screen and (min-width:55em){
		width:$widthHeader - 40;

	}

	& img{
		width:3rem;
		height:3rem;
		@media screen and (min-width:35em){
			width:4rem;
			height:4rem;
		}
		@media screen and (min-width:55em){
			width:5rem;
			height:5rem;
		}
	}
}