.navbar{
	vertical-align: middle;
	ul{
		padding:0;
		@include display-flex;
		@include flex-direction(column);
		max-width: 100%;
		
		& > li{
			@include flex-grow(1);

			width:auto;
    		height:auto;
    		text-align: center;
    		@include border-radius(5px);
			& > a {
				font-family: Arial;
				text-decoration: none;
				display:block;
				color:white;
			    line-height: 1.5rem;
			    padding:0.3em;
			    font-size: $fontCom;
			    @media (min-width:35em){
			    	font-weight: 600;
			    	line-height: 2rem;
			    }
			}

			@media screen and (min-width:55em){
				&:hover{
						background-color: $backColorNavBarLiHover;
				}
			}

			& > .disabled{
				background-color:$backColorNavBarLiDisabled;
				pointer-events:none;
				@media screen and (min-width:55em){
					&:hover{
						background-color:$backColorNavBarLiDisabled;
						cursor:default;
					}
				}
			}
			& > .active{
				background-color:$backColorNavBarLiActive;
			}
		}
	}
}


.navbarHead{
	ul{
		background: #444;
		background: rgba(0,0,0,.2);
		border-radius: 10px;
		box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
		// background: #5C5C5C;
		@include border-radius(3px 3px 3px 3px);

		& > li{
			font-weight:500;
		}
	}
}


.navbarBody{
	ul {
		@media screen and (min-width: 55em){
			border-bottom: 3px solid grey;
			/*border-left: 5px solid grey;
			border-right: 5px solid grey;
			@include border-radius(3px);*/
		}
		& > li{
			@include flex-grow(1);
			width:auto;
			height:auto;
			text-align: center;
			@include border-radius(8px 8px 0px 0px);
		
			& > a {
				font-weight:500;
				line-height: 2.5rem;
				@media screen and (min-width: 35em){
					line-height: 3rem;
				}
			}

			@media screen and (min-width:55em){

				&:hover{
						background-color: $backColorNavBarLiHover;
				}
			}
		}
	}
}



.breadcrumb{
	font-weight: 600;
	@media(min-width:45em){
		position:fixed;
		margin-top: -1em;
		background-color: $backColorbreadcrumbUl;
		@include border-radius(5px);
	}
	h3{
		@media(min-width:55em){
			text-align: center;
		}
	}

	& > ul{
		@media (min-width:55em){
			@include display-flex;
			@include flex-direction(column);
			max-width: 100%;
			padding:0;
		}

		& > li{
			@media (min-width:55em){
				@include flex-grow(1);
				width:auto;
	    		height:auto;
				text-align: center;
				line-height: 1em;

			}
			@media(min-width:55em){
				&:hover{
					background-color: $backColorbreadcrumbLiHover;
					cursor:pointer;
				}
			}
			& > a {
				@media (min-width:55em){
					display:block;
					padding:0.3em;
					font-family: Arial;
					font-size: $fontH6;
					text-decoration: none;
					color:white;
				}
			}
		}
	}
}


.surplusNav{
	background:#9C0D0D;
	@media screen and (min-width:55em){
		border-bottom:4px outset #F56565;
	}
}

.flexRow{
	ul{
		@media screen and (min-width:55em){
			@include flex-direction(row);
		}
	}
}