//  BODY / ContainerPage
$widthBody:100%;
$backColorBody:#1294D0;
$colorBody : white;


// HEADER
$widthHeader:50%;
$backColorHeader:#f1f1f1;

// NAV BAR
$widthNavBar:100%;
$backColorNavBar:#9C0D0D;
$colorNavBar:white;

$colorNavBarHead:white;
$colorNavBarMenu:white;

$backColorNavBarLiHover:#504F4F;
$backColorNavBarLiDisabled:#EE2626;
$backColorNavBarLiActive:#34779E;

$backColorbreadcrumbUl:black;

// PAGE PRINCIPALE

// TITRE & SOUS TITRE
$colorH1H6:white;
$fontH1:2rem;
$fontH2:1.5rem;
$fontH3:1.3rem;
$fontH4:1rem;
$fontH5:0.83rem;
$fontH6:0.67rem;

$small:0.8em;

$subfontH1:1.6rem;
$subfontH2:1.2rem;
$subfontH3:1.04rem;
$subfontH4:0.8rem;
$subfontH5:0.664rem;
$subfontH6:0.536rem;

// PARAGRAPHE
$fontP:1rem;


// JUMBOTRON

$widthJumbotron:80%;
$backColorJumbotron:#737373;

//  PAGINATION 

$backColorPaginationLi:#f5f5f5;


// ALERTES 

$colorSuccess:#59ED6B;
$colorInfo:#6DB3ED;
$colorAdvert:#FA680E;
$colorDanger:#FB2C2C;

//  BOUTON 

// Bouton default
$fontSizeDt:0.7rem;
$fontWeightDt:600;
$BackcolorDt:#ABA5A5;
$colorDt:black;
$widthdt:80px;
$heightdt:40px;

// Bouton large
$fontWeightlg:600;
$fontSizelg:1rem;
$widthlg:120px;
$heightlg:60px;

// Bouton small
$fontSizesm:0.6rem;
$fontWeightsm:500;
$widthsm:60px;
$heightsm:30px;

// Bouton rouge
$redBackcolor:#d34836;
$redColor:white;

// bouton vert
$greenBackColor:#43DF40;
$greenColor:black;

// bouton bleue
$blueBackColor:#478bf9;
$blueColor:white;

// Bouton design
$fancybackcolor:#cb3b27;

// Hover des boutons
$BackcolorHover:#CBCBCB;


// FOOTER

$backColorFooter:#9C0D0D;
 // GRILLE 

$nbCols:12;
